body{
    margin-bottom: 77px;
    margin-top: 118px
}
.login-box{
        border: 2px solid black;
    height: 505px;
    /* padding-left: 200px; */
    /* margin-top: 127px; */
    width: 550px;
    margin-left: 471px;
    /* margin-right: 101px; */
    border-radius: 33px;
    background: linear-gradient(90deg, lightblue, transparent);
}

h1{
    margin-bottom: 62px;
    padding-left: 210px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

form {
    padding: 56px;
    /* border: 2px; */
    /* border: black; */
    
}

.textbox {
    /* height: 48px; */
    margin-bottom: 59px;
}


label {
    font-size: large;

    font-family: Arial, Helvetica, sans-serif
}


input#username {
    margin-left: 24px;
    border: 3px solid;
    height: 25px;
    width: 347px;
}



input#password {
    height: 26px;
    width: 350px;
    /* border-width: medium; */
    border: 2px solid;
    border: 3px solid;
    margin-left: 26px;

}

input.btn {
    width: 75px;
    height: 25px;
    margin-left:68px;
}