h1{
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: larger;
    font-weight: 900;
    text-align: center;}
body{
    background-color: powderblue;
}
#form{
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
}